th{
	background-color:#006699;
	color:#fff;
}

body { padding-top: 70px; }

#logo {
	float:left;
	margin:0;
	padding:0;
}
.wrapper{
	width:80%;
	margin:auto;
}

.pages{
	vertical-align:sub;
	margin-left:10px;
}
.post-button{
	margin:20px 0;
}
.required{
	color:#ff0000;
	vertical-align:middle;
	margin-left:0.5em;
}
.wrapper-sm{
	width:60%;
	margin:auto;
}
.navbar-inverse .navbar-nav>li>a{
    color:#fff;
}
#navbar-collapse-1>ul>li>a:hover{
     color:#FFFF00;
 }
table{
    table-layout:fixed;
    word-break:break-all;
}
.topictable>tbody>tr>td{
    border:1px solid #99b3ff;
}
.userInfo{
   background-color: #EFF4FB;
}
.topicInfo{
    background-color: #F5F5F5;
}
.md-height{
    line-height:2em;
}